@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
    background-color: black;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0.5mm;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 5em;
    color: rgb(255, 0, 200);
}

#board {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    margin: 0 auto;
    width: 350px;
    text-align: center;
    border: 2px solid transparent;
    font-size: 5em;
    font-family: 'Delicious Handrawn', cursive;
    color: rgb(255, 0, 200);
}

.tile {
    transition: 0.34s;
    -webkit-user-select: none; /* Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */ 
    user-select: none; /* Standard */
    display: flex;
    justify-content: center;
    align-items: center;
}

.noBorder {
    border: none;
}

.leftRightBorder {
    border-left: 3px solid aqua;
    border-right: 3px solid aqua;
}

.topBottomBorder {
    border-top: 3px solid aqua;
    border-bottom: 3px solid aqua;
}

.centerBorder {
    border: 3px solid aqua;
}

.tile:hover {
    background-color: #000000;
    cursor: pointer;
    box-shadow: rgb(255, 113, 253) 0px 5px 15px;
    border-radius: 10px;
}