body {
    background-color: #547373;
}

h1 {
    text-align: center;
    margin-bottom: 2em;
}

#board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    border: 2px solid transparent;
}

.tile {
    transition: 0.34s;
    -webkit-user-select: none; /* Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */ 
    user-select: none; /* Standard */
}

.noBorder {
    border: none;
}

.leftRightBorder {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.topBottomBorder {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.centerBorder {
    border: 2px solid black;
}

.tile:hover {
    background-color: #547373;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}