@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
    background: url('../images/bg.jpeg');
    display: center;
    background-size: cover;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 5em;
    color: white;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;

}

#board {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    margin: 0 auto;
    width: 350px;
    text-align: center;
    border: 2px solid transparent;
    font-size: 5em;
    font-family: 'Delicious Handrawn', cursive;
    color: white;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.tile {
    /* transition: 0.34s; */
    -webkit-user-select: none; /* Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */ 
    user-select: none; /* Standard */
    display: flex;
    justify-content: center;
    align-items: center;
}

.noBorder {
    border: none;
}

.leftRightBorder {
    border-left: 5px solid white;
    border-right: 5px solid white;
}

.topBottomBorder {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.centerBorder {
    border: 5px solid white;
}

.tile:hover {
    cursor: pointer;
    color: #2f4f4f;
    text-shadow: 2px 0 #2f4f4f, -2px 0 #2f4f4f, 0 2px #2f4f4f, 0 -2px #2f4f4f,
    1px 1px #2f4f4f, -1px -1px #2f4f4f, 1px -1px #2f4f4f, -1px 1px #2f4f4f;
    /* box-shadow: rgb(255, 113, 253) 0px 5px 15px; */
}

.result {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: hsla(0, 0%, 0%, 0.6);
    font-size: 5em;
    flex-direction: column;
    text-align: center;
    padding-top: 3em;
    font-family: 'Delicious Handrawn', cursive;
    color: #ffffff;
    text-shadow: 2px 0 white, -2px 0 white, 0 2px white, 0 -2px white,
             1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
}

.result button {
    font-size: .5em;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    border-radius: 1em;
    margin: 0 auto;
    max-width: 960px;
    font-family: 'Delicious Handrawn', cursive;

}

.result button:hover {
    background-color: rgb(255, 0, 200);
    color:white;
    border-color: white;
    transition: 1s;
    border-radius: 1em;
    margin: 0 auto;
    max-width: 960px;
    font-family: 'Delicious Handrawn', cursive;
}

.result.show {
    display: flex;
}
